.menu-toggle {
    display: none;
    cursor: pointer;
}

.index .menu-cross {
    display: none;
}

.menu-cross {
    display: block;
    top: 39px;
    left: 375px;
    cursor: pointer;
}

.menu-cross img {
    width: 39px;
    height: 39px;
    margin: 20px 0 20px 0;
}

.side-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10%;
}

.side-menu-list {
    list-style-type: none;
    padding: 0;
}

.side-menu-item {
    font-size: 22px;
    line-height: 60px;
}

.side-menu-button {
    padding: 15px 5%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-primary-light-color);
    border: 2px solid var(--primary-dark-color);
    border-radius: 5px;
    text-align: center;
    width: 210px;
    height: 60px;
}

.side-menu-link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: var(--background-primary-dark-color);
}

/* for 575px */
@media (max-width: 575px) {

    .side-menu-nav {
        padding: 10px 5%;
    }

    .side-menu-list {
        padding: 0;
    }

    .side-menu-item {
        font-size: 24px;
        line-height: 65px;
    }

    .side-menu-button {
        padding: 10px 5%;
        width: 330px;
        height: 70px;
    }

    .side-menu-link {
        font-size: 22px;
        line-height: 33px;
    }
}

/* for 320px */
@media (max-width: 320px) {

    .side-menu-nav {
        padding: 10px 5%;
    }

    .side-menu-list {
        padding: 0;
        margin: 0;
    }

    .side-menu-item {
        font-size: 22px;
        line-height: 65px;
    }

    .side-menu-button {
        padding: 10px 5%;
        width: 291px;
        height: 65px;
    }

    .side-menu-link {
        font-size: 20px;
        line-height: 30px;
    }
}