:root {
    --primary-dark-color: #263238;
    --secondary-dark-color: #39515e;
    --background-primary-light-color: #ffffff;
    --background-primary-dark-color: #263238;
    --text-primary-light-color: #ffffff;
    --text-secondary-dark-color: #8f95a5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--background-primary-light-color);
}

.header-logo {
    margin-right: 20px;
}

.header-logo h1 {
    font-size: 36px;
}

.header-logo span {
    color: var(--text-secondary-dark-color);
}

.header-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header-item {
    margin: 0;
}

.header-link {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: var(--background-primary-dark-color);
}

.header-button {
    width: 220px;
    height: 70px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-primary-light-color);
    border: 2px solid var(--primary-dark-color);
    border-radius: 5px;
}

.header-button-link {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: var(--background-primary-dark-color);
}

.menu-toggle {
    display: none;
    top: 45px;
    left: 699px;
    cursor: pointer;
}

.intro {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: var(--background-primary-light-color);
}

.intro-light {
    position: absolute;
    top: 80px;
    right: -70px;
    width: 85px;
    height: 85px;
}

.intro-logo {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.intro-text {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-secondary-dark-color);
}

.intro-button {
    width: 438px;
    height: 118px;
    padding: 15px 30px;
    margin: 20px 0 20px 0;
    background-color: var(--background-primary-dark-color);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 54px;
    color: var(--text-primary-light-color);
    border-radius: 15px;
}

.intro-image img {
    height: 661px;
    width: 661px;
}

/* for 992px */
@media (max-width: 992px) {

    .header {
        padding: 20px 5%;
    }

    .header-logo {
        font-size: 30px;
        line-height: 45px;
    }

    .header-link {
        font-size: 16px;
        line-height: 24px;
    }

    .header-button {
        width: 160px;
        height: 50px;
        font-size: 18px;
        line-height: 27px;
    }

    .header-button-link {
        font-size: 18px;
        line-height: 27px;
    }

    .intro {
        padding: 40px 5%;
        flex-direction: column;
    }

    .intro-items {
        text-align: center;
    }

    .intro-logo {
        font-size: 48px;
        line-height: 64px;
    }

    .intro-text {
        font-size: 20px;
        line-height: 30px;
    }

    .intro-button {
        width: 292px;
        max-width: 380px;
        height: 80px;
        font-size: 24px;
        line-height: 36px;
    }

    .intro-image img {
        height: 460px;
        width: 460px;
    }
}

/* for 767px */
@media (max-width: 767px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 5%;
    }

    .header-logo {
        margin-bottom: 0;
        font-size: 30px;
        line-height: 45px;
    }

    .menu-toggle {
        display: block;
        width: 30px;
        height: 17px;
        color: var(--secondary-dark-color);
    }

    .header-list {
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .header-button {
        display: none;
        width: 160px;
        height: 50px;
        font-size: 18px;
    }

    .intro {
        padding: 30px 5%;
        flex-direction: column;
        align-items: center;
    }

    .intro-logo {
        font-size: 36px;
        line-height: 45px;
    }

    .intro-text {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-button {
        width: 236px;
        max-width: 300px;
        height: 65px;
        font-size: 18px;
        line-height: 27px;
    }

    .intro-image {
        margin-top: 20px;
    }

    .intro-image img {
        height: 352px;
        width: 352px;
    }
}

/* for 575px */
@media (max-width: 575px) {

    .header {
        padding: 10px 5%;
    }

    .header-logo {
        font-size: 30px;
        line-height: 45px;
    }

    .menu-toggle {
        display: block;
        width: 43px;
        height: 24px;
        color: var(--secondary-dark-color);
    }

    .header-list {
        gap: 10px;
    }

    .header-link {
        font-size: 16px;
    }

    .header-button {
        width: 140px;
        height: 45px;
        font-size: 16px;
    }

    .intro-items {
        flex-direction: column;
    }

    .intro-logo {
        font-size: 34px;
        line-height: 45px;
    }

    .intro-text {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-button {
        width: 305px;
        max-width: 240px;
        height: 75px;
        font-size: 16px;
        line-height: 24px;
    }

    .intro-image img {
        height: 424px;
        width: 424px;
    }

    .intro-light {
        display: none;
    }
}

/* for 320px */
@media (max-width: 320px) {

    .header {
        padding: 10px 5%;
    }

    .header-logo {
        font-size: 24px;
        line-height: 36px;
    }

    .menu-toggle {
        display: block;
        width: 34px;
        height: 19px;
        color: var(--secondary-dark-color);
    }

    .header-link {
        font-size: 14px;
    }

    .header-button {
        width: 120px;
        height: 40px;
        font-size: 14px;
        line-height: 21px;
    }

    .intro-items {
        flex-direction: column;
    }

    .intro-logo {
        font-size: 24px;
        line-height: 36px;
    }

    .intro-text {
        font-size: 14px;
        line-height: 21px;
    }

    .intro-button {
        width: 289px;
        max-width: 220px;
        height: 60px;
        font-size: 14px;
        line-height: 21px;
    }

    .intro-image img {
        height: 299px;
        width: 299px;
    }

    .intro-light {
        display: none;
    }
}
