.skills__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skills__logo {
    margin: 103px 0 96px 0;
    text-align: center;
    font-size: 48px;
    line-height: 80px;
}

.skills__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 18px;
    justify-content: center;
}

.skills__content-item {
    background-color: var(--background-secondary-color);
    border-radius: 10px;
}

.skills__content-item-speaking {
     grid-row: span 2;
     width: 435px;
     height: 894px;
}

.speaking__image {
    margin: 35px 22px 4px 23px;
}

.speaking__logo {
    margin: 4px 248px 5px 43px;
    font-size: 30px;
    line-height: 80px;
}

.speaking__text {
    margin: 5px 45px 36px 43px;
    font-size: 16px;
    line-height: 24px;
}

.skills__button-speaking {
    margin: 36px 162px 92px 43px;
    width: 230px;
    height: 60px;
    font-size: 18px;
    line-height: 27px;
}

.skills__content-item-writing {
     width: 434px;
     height: 531px;
}

.writing__image {
    margin: -4px 19px 0 122px;
}

.writing__logo {
    margin: -34px 280px 1px 42px;
    font-size: 30px;
    line-height: 80px;
}

.writing__text {
    margin: 1px 0 33px 41px;
    font-size: 16px;
    line-height: 24px;
}

.skills__button-writing {
    margin: 33px 175px 44px 41px;
    width: 218px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
}

.skills__content-item-reading {
    width: 435px;
    height: 532px;
}

.reading__image {
    margin: 9px 63px 1px 1px;
}

.reading__logo {
    margin: -1px 267px -2px 41px;
    font-size: 30px;
    line-height: 80px;
}

.reading__text {
    margin: -2px 0 35px 43px;
    font-size: 16px;
    line-height: 24px;
}

.skills__button-reading {
    margin: 35px 174px 44px 43px;
    width: 218px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
}

.skills__content-item-listening {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    width: 885px;
    height: 343px;
}

.listening__logo {
    margin: 43px 293px -8px 48px;
    font-size: 30px;
    line-height: 80px;
}

.listening__text {
    margin: -8px 0 25px 48px;
    font-size: 16px;
    line-height: 24px;
}

.skills__button-listening {
    margin: 25px 216px 68px 44px;
    width: 218px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
}

.listening__image {
    margin: 44px 25px 44px 0;
}
