:root {
    --primary-dark-color: #263238;
    --secondary-dark-color: #39515e;
    --background-primary-light-color: #ffffff;
    --background-primary-dark-color: #263238;
    --text-primary-light-color: #ffffff;
    --text-secondary-dark-color: #8f95a5;
}
